@model WebApplication4.Models.Role
@{
    Layout = null;
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Delete</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@

@using (Html.BeginForm("function", "RoleMaintenance", FormMethod.Post))
{
    <td><input type="submit" name="comfirm" value="Yes" /></td>
    <td><input type="submit" name="comfirm" value="No" /></td>
}

